@{
    ViewBag.Title = "Dashboard";
    Layout = "../Shared/_LayoutDashboard.cshtml";
}
<div class="text-center">
    <h1 class="text-center">Bem vinde ao WebNote, @ViewBag.Username.</h1>
    <p>Selecione no menu acima a ação desejada.</p>
    <img src="~/img/winking-face_1f609.png" class="center" />
</div>