@{
    ViewData["Title"] = "Visualizar Nota";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<style>
    .flex-container {
        display: flex;
        flex-flow: row wrap;
    }
        .flex-container > div {
            height: fit-content;
            width: 350px;
            margin: 10px;
            padding: 20px;
            position: relative;
            border-radius: 25px;
            align-content: center;
            font-size: 22px;
            background-color: black;
            color: white;
        }
</style>

<div class="flex-container">
    @{ 
        for (int i = 0; i < ViewBag.Notas.Count; i++)
        {
            <div style="align-self: flex-start">
                    <p>Nota @(i+1):</p><br /> "@ViewBag.Notas[i]"
            </div><br />
        }
    }
</div>